.ListGreens_table {
  margin-top: 34px;
}

.ListGreens_row {
  &-selected {
    background-color: rgba(0, 0, 0, 0.3) !important;
  }
}

.ListGreens_cell:last-of-type {
  width: 130px;
}

.ListGreensItem {
  &_typeButton {
    width: 50px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-left: 5px;

    &:first-of-type {
      margin-left: 0px;
    }

    &-badSelected, &-goodSelected {
      color: #ffffff;
    }

    &-goodSelected {
      background-color: #93C54B;
    }

    &-badSelected {
      background-color: #d9534f;
    }
  }
}
